.titulo {
  margin-top: 40px;
  font-weight: 700;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #fff;
  text-shadow: 0 1px 0 rgba(91, 91, 91, 0.05);
  
}


.subtitulo {
  color: #ffffff;
}

body {
  scroll-behavior: smooth;
  background-color: #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar-brand {
  color: #ffffff !important; 
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-custom {
  background-color: #000000; 
  box-shadow: 0 4px 10px rgba(126, 126, 126, 0.3);
}

.navbar-custom .nav-link {
  color: #fff !important;
  transition: color 0.3s ease;
}

.navbar-custom .nav-link:hover {
  color: #000bd9 !important;
}



.card {
  border: none;
  border-radius: 20px;
  overflow: hidden;
  background-color: #1a1a1a;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #000000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
}
  .card-body {
  background-color: #ffffff;
  padding: 20px;
}

.carousel-item img {
  height: 400px;        /* altura desejada */
  width: 70%;
  object-fit: cover;    
  object-position: center; 
  border-radius: 10px;  
}

/* Rodapé */
footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 255, 255);
  letter-spacing: 0.5px;
  background-color: black;
}
